[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
redis = "*"
django-allauth = "*"
dj-rest-auth = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
